.Like
{
     position: relative;
    top:2x;
    left: 720px;
    color: white;
    background-color: darkblue;
  
}


.Like1
{
     position: relative;
    top:-10px;
    left: 732px;
    color: white;
    background-color: darkblue;
  
}


.Like2
{
     position: relative;
    top:-10px;
    left: 719px;
    color: white;
    background-color: darkblue;
  
}



.Like3
{
     position: relative;
    top:2x;
    left: 750px;
    color: white;
    background-color: darkblue;
  
}



.Like4
{
     position: relative;
    top:2x;
    left: 760px;
    color: white;
    background-color: darkblue;
 
    
}

.Top
{
    position: relative;
    top:-460px;
    left: 15px;
    color: white;
    background-color: black;
    height: 20px;
    width: 70px;
    font-size: 14px;
  
}


.instagramcamera
{
position: relative;
top: 10px;
left: 900px;

}

.instagramcamera1
{
position: relative;
top: 10px;
left: 890px;
width: 20px;
height: -10px;
}

.instagramcamera2
{
position: relative;
top: 10px;
left: 920px;
width: 20px;
height: -10px;
}
.instagramcamera3
{
position: relative;
top: 10px;
left: 930px;
width: 20px;
height: -10px;
}

.instagramcamera4
{
position: relative;
top: 10px;
left: 898px;
width: 20px;
height: -10px;
}

.instagramcamera5
{
position: relative;
top: 10px;
left: 905px;
width: 20px;
height: -10px;
}