.Message
{
    position: relative;
    top: -430px;
    left: 10px;
    font-size: 20px;
}
.Request
{
  position: relative;
  top: -450px;
  right: -1020px;
  font-size: 20px;
  color: blue;

}
.Request1
{
  position: relative;
  top: -470px;
  right: -1092px;
  width: 20px;
  height: 20px;
  color: blue;

}
.MessageICON
{
  position: relative;
    top: -430px;
    left: 5px;
   border-radius: 160px;
  width:50px; 
  height:55px;
    font-size: 20px;

}
.MessageICON1
{
  position: relative;
    top: -480px;
    left: 70px;
    font-size: 17px;

}

.Message1
{
    position: relative;
    top: -400px;
    left: -300px;
}

.chat1
  {


    position: relative;
    top: -45px;
    left: 480px;
    width: 30px;
    height: 30px;
  }

  .instagramcamera
  {
  position: relative;
  left: 900px;
  top: -35px;
  width:20px; 
  height:20px;
  font-size: 20px;

  }
  
  .search
{
position:relative;
left: 300px;
top: -440px;
border-radius: 20px;
height: 50px;
width: 600px;
color: brown;
font-size: 20px;
background-color: light;

    
}
